@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.social-buttons {
	width: 25%;
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 1vh;
	z-index: 3;
	margin: 2vh 2vw;

	&__button {
	}
	&__button-img {
		height: 4vh;
		margin: 0 1vw;
	}

	&__bandcamp {
		content: url('../../assets/Icons/silver/bandcamp-silver.png');
		&:hover {
			content: url('../../assets/Icons/silver/bandcamp-light-silver.png');
		}
	}
	&__soundcloud {
		content: url('../../assets/Icons/silver/soundcloud-silver.png');
		&:hover {
			content: url('../../assets/Icons/silver/soundcloud-light-silver.png');
		}
	}
	@include mobile-small-only() {
		justify-content: space-evenly;
		width: 100%;
		&__button-img {
			height: 4vh;
		}
	}
}

.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	height: 0px;
	overflow: hidden;
	color: black;
}
