@import './misc-styles/fonts-mixins.scss';
@import './misc-styles/variables.scss';
.grid {
	&__quadrant {
		width: 50%;
		height: 50%;
		border: 1px solid red;
		position: absolute;
		background-color: transparent;
		z-index: 10;
		display: none;
	}
	&__top-left {
		left: 0;
	}
	&__top-right {
		right: 0;
	}
	&__bottom-right {
		right: 0;
		bottom: 0;
	}
	&__bottom-left {
		left: 0;
		bottom: 0;
	}
}

.main {
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	flex-direction: column;
	background-color: black;
	font-family: 'Lekton';

	&__bg {
		background-color: black;
		position: absolute;
		z-index: 3;
		bottom: 0;
		right: 0;
		left: 0;
		top: 16%;
		border: 1px solid red;
	}
	&__all-not-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 1;
	}

	&__header-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: none;
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 30%;
		border: 1px solid red;
	}
	&__header {
		margin: 0;
		font-size: 3.4rem;
		position: relative;
		z-index: 4;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		color: white;
		text-decoration: none;
	}
	&__face-img {
		position: absolute;
		z-index: 2;
		height: 14%;
		top: 10%;
		opacity: 0;
	}
	&__back-button {
		color: silver;
		position: relative;
		margin: 0 2vw 1vh 0;
		z-index: 10;
		transition: all 1s;
		opacity: 1;
		&:hover {
			color: white;
		}
	}
	&__headers-container-mobile {
		display: none;
	}
	//Headers
	&__headers-container {
		width: 100%;
		display: flex;
		border: 1px solid red;
		opacity: 0;
		justify-content: center;
		align-items: center;
		transition: all 1s;
		position: absolute;
		top: 22%;
		z-index: 3;
	}
	&__section-header {
		display: flex;
		flex-direction: row;
		position: relative;
		z-index: 3;
		width: 50%;
		color: white;
		font-size: 1.5rem;
		border: 1px solid red;
	}
	&__web-section-header {
		justify-content: flex-end;
	}

	&__section-divider {
		color: white;
		position: relative;
		align-self: center;
		font-size: 2.8rem;
		z-index: 3;
		margin: 0vh 1%;
	}
	/////// below headers stuff starts \\\\\\

	&__bio-resume-contact-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: absolute;
		top: 37%;
		z-index: 13;
	}
	&__resume {
		color: Silver;
		text-decoration: none;
		transition: all 0.3s;
		font-weight: bold;
		font-size: 2.2rem;
		&:hover {
			transition: all 0.3s;
			color: white;
		}
	}
	&__bio-container {
		z-index: 5;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__bio-header {
		font-size: 2.1rem;
		color: silver;
		align-self: center;
		transition: all 0.3s;
		&:hover {
			color: white;
		}
		transition: all 0.3s;
	}
	&__bio-description {
		width: 60%;
		text-align: center;
		font-size: 1.4rem;
		margin-bottom: 6vh;
	}
	@include mobile-small-only() {
		top: 30vh;
		&__header {
			font-size: 2rem;
			align-items: center;
			top: 2vh;
		}
		&__face-img {
			width: 35vw;
			top: 11vh;
		}
		&__bg {
			top: 12vh;
		}
		&__back-button {
			top: 2vh;
		}
		&__headers-container {
			display: none;
		}
		&__header-container {
			margin-top: 8vh;
		}
		&__headers-container-mobile {
			width: 84%;
			display: flex;
			justify-content: center;
			height: 13vh;
			position: relative;
			z-index: 5;
			opacity: 1;
			font-size: 1rem;
			justify-self: center;
		}
		&__bio-resume-contact-container {
			top: 32vh;
		}
		&__section-divider {
			font-size: 1.6rem;
			height: 6vh;
		}
		&__section-header {
			font-size: 1.1rem;
		}
		&__bio-header {
			margin-left: 3vw;
			margin-top: 3vh;
			font-size: 1.6rem;
		}
		&__resume {
			font-size: 1.6rem;
			margin-left: 4vw;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include mobile-only() {
		&__section-divider {
			font-size: 2.1rem;
			margin: 0 2vw;
			height: 8vh;
		}
		&__header {
			margin-left: 0;
		}
	}
	@include tablet-only {
		&__web-header-title {
			// @include hover-underline-left;
			margin-top: 3vh;
		}
		&__music-header-title {
			// @include hover-underline-right-absolute;
		}
		&__header {
			font-size: 3rem;
			align-items: center;
		}
		&__back-button {
			margin-right: 2vw;
		}
		&__face-img {
			height: 12%;
			top: 6%;
		}
		&__bg {
			top: 10%;
		}
		&__headers-container {
			width: 100%;
			z-index: 5;
			top: 150px;
			opacity: 1;
			// justify-self: center;
		}
		&__headers-container-mobile {
			display: none;
		}
		&__bio-resume-contact-container {
			top: 26vh;
			margin-left: 1vw;
		}
		&__section-divider {
			font-size: 1.6rem;
			margin: 0 2vw;
		}
		&__section-header {
			font-size: 1rem;
			align-items: center;
		}
		&__bio-header {
			margin-right: 3vw;
			margin-top: 3vh;
			font-size: 1.6rem;
		}
		&__resume {
			font-size: 1.6rem;
			margin-right: 3vw;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include laptop-small() {
		&__web-header-title {
			@include hover-underline-left;
		}
		&__music-header-title {
			@include hover-underline-right-absolute;
		}
		&__header {
			font-size: 3.3rem;
			align-items: center;
		}
		&__face-img {
			height: 17%;
			top: 12%;
		}
		&__headers-container {
			height: 11%;
			width: 100%;
			opacity: 1;
			justify-self: center;
		}
		&__headers-container-mobile {
			display: none;
		}
		&__bio-resume-contact-container {
			// margin-left: 1vw;
		}
		&__section-divider {
			font-size: 1.6rem;
			margin: 0 2vw;
		}
		&__section-header {
			font-size: 1.2rem;
			align-items: center;
		}
		&__bio-header {
			// margin-right: 3vw;
			margin-top: 3%;
			font-size: 1.9rem;
		}
		&__resume {
			font-size: 1.9rem;
			// margin-right: 3vw;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include laptop-large() {
		&__web-header-title {
			@include hover-underline-left;
			// height: 3vh;
		}
		&__music-header-title {
			@include hover-underline-right-absolute;
			// height: 3vh;
		}
	}
	@include laptop-xl() {
		&__bio-resume-contact-container {
			margin-left: 0vw;
		}
	}
}
.nopacity {
	opacity: 0;
}
.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	height: 0px;
	overflow: hidden;
	color: black;
	transition: all 1s;
}
.visible {
	transition: all 1s;
	opacity: 1;
}

.test-button {
	position: relative;
	z-index: 15;
	top: 10%;
	border: 1px solid white;
}

.bio-invisible {
	// opacity: 0;
	display: none;
	// width: 0.01vw;
	// height: 0px;
	// overflow: hidden;
	// color: black;
	transition: all 3s;
}
.bio-visible {
	transition: all 1s;
	opacity: 1;
	margin-top: 0;
}
