@import './misc-styles/fonts-mixins.scss';
@import './misc-styles/variables.scss';
.grid {
	&__quadrant {
		width: 50%;
		height: 50%;
		border: 1px solid red;
		position: absolute;
		background-color: transparent;
		z-index: 10;
		display: none;
	}
	&__top-left {
		left: 0;
	}
	&__top-right {
		right: 0;
	}
	&__bottom-right {
		right: 0;
		bottom: 0;
	}
	&__bottom-left {
		left: 0;
		bottom: 0;
	}
}
.main {
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	flex-direction: column;
	background-color: black;
	font-family: 'Lekton';

	&__bg {
		background-color: black;
		position: absolute;
		z-index: 3;
		bottom: 0;
		right: 0;
		left: 0;
		top: 16%;
		// border: 1px solid red;
	}
	&__all-not-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 1;
	}

	&__header-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		background: none;
		position: absolute;
		z-index: 6;
		width: 100%;
		height: 20%;
		border: 1px solid red;
	}
	&__header {
		margin: 0;
		font-size: 3.4rem;
		position: relative;
		z-index: 6;
		top: 50%;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		color: white;
		text-decoration: none;
	}
	&__ethorf-header {
		margin: 0;
		font-size: 3.4rem;
		position: relative;
		z-index: 6;
		top: 50%;
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		color: white;
		text-decoration: none;
	}
	&__face-img {
		position: absolute;
		z-index: 2;
		height: 17%;
		top: 10%;
		opacity: 0;
	}
	&__back-button {
		color: silver;
		position: absolute;
		// top: 25%;
		right: 3%;
		z-index: 17;
		transition: all 1s;
		font-size: 17px;
		opacity: 1;
		&:hover {
			color: white;
			cursor: pointer;
		}
	}
	&__headers-container-mobile {
		display: none;
	}
	//Headers
	&__headers-container {
		width: 100%;
		display: flex;
		// border: 1px solid red;
		opacity: 0;
		justify-content: center;
		align-items: center;
		transition: all 1s;
		position: absolute;
		top: 22%;
		z-index: 6;
	}
	&__section-header {
		display: flex;
		flex-direction: row;
		position: relative;
		align-items: center;
		z-index: 6;
		width: 50%;
		color: white;
		font-size: 23px;
		// border: 1px solid red;
	}
	&__web-section-header {
		justify-content: flex-end;
	}

	&__section-divider {
		color: white;
		position: relative;
		align-self: center;
		font-size: 2.8rem;
		z-index: 3;
		margin: 0vh 1%;
	}
	&__web-header-title {
		@include hover-underline-left;
		&:hover {
			cursor: pointer;
		}
	}
	&__music-header-title {
		position: relative;
		@include hover-underline-right;
		&:hover {
			cursor: pointer;
		}
	}
	/////// below headers stuff starts \\\\\\

	&__bio-resume-contact-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 100%;
		position: absolute;
		top: 37%;
		z-index: 13;
	}
	&__resume {
		color: Silver;
		text-decoration: none;
		transition: all 0.3s;
		font-weight: bold;
		font-size: 2.2rem;
		&:hover {
			transition: all 0.3s;
			color: white;
		}
	}
	&__bio-container {
		z-index: 6;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__bio-header {
		font-size: 2.1rem;
		color: silver;
		align-self: center;
		transition: all 0.3s;
		&:hover {
			color: white;
			cursor: pointer;
		}
		transition: all 0.3s;
	}
	&__bio-description {
		display: none;
		opacity: 0;
		width: 60%;
		text-align: center;
		font-size: 1.4rem;
		margin-bottom: 6vh;
		transition: all 1s;
	}
	&__bio-close-button {
		background-color: black;
		color: silver;
		outline: none;
		border: none;
		margin-top: -1%;
		margin-bottom: 2%;
		transition: all 1s;
		&:hover {
			cursor: pointer;
			color: white;
		}
	}
	@include mobile-small-only() {
		&__header {
			font-size: 2rem;
			align-items: center;
			top: 52%;
		}
		&__face-img {
			top: 11%;
		}
		&__bg {
			top: 13%;
		}
		&__back-button {
			top: 5%;
		}
		&__headers-container {
			display: none;
		}
		&__header-container {
			height: 15%;
		}
		&__headers-container-mobile {
			width: 100%;
			display: flex;
			opacity: 1;
			// border: 1px solid red;
			font-size: 1.2rem;
			justify-content: center;
			align-items: center;
			transition: all 1s;
			position: absolute;
			top: 18%;
			z-index: 6;
		}
		&__bio-resume-contact-container {
			top: 32%;
		}
		&__section-divider {
			font-size: 2rem;
		}
		&__section-header {
			font-size: 18px;
		}
		&__bio-header {
			font-size: 1.6rem;
		}
		&__resume {
			font-size: 1.6rem;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include mobile-only() {
		&__section-divider {
			font-size: 2.1rem;
			margin: 0 2vw;
			height: 8vh;
		}
		&__header {
			margin-left: 0;
		}
	}
	@include tablet-only {
		&__header {
			font-size: 2.9rem;
		}
		&__face-img {
			height: 14%;
			top: 11%;
		}
		&__bg {
			top: 15%;
		}
		&__headers-container-mobile {
			display: none;
		}
		&__bio-resume-contact-container {
			top: 32%;
		}
		&__section-divider {
			font-size: 2rem;
		}
		&__section-header {
			font-size: 16px;
			align-items: center;
		}
		&__bio-header,
		&__resume {
			font-size: 1.6rem;
			z-index: 10;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include laptop-small() {
		&__header {
			font-size: 3.3rem;
			align-items: center;
		}
		&__face-img {
			height: 14%;
			top: 10%;
		}
		&__headers-container-mobile {
			display: none;
		}
		&__section-divider {
			font-size: 2.4rem;
		}
		&__bio-header {
			margin-top: 3%;
			font-size: 1.9rem;
		}
		&__resume {
			font-size: 1.9rem;
		}
		&__section-header {
			font-size: 21px;
		}
		&__bio-description {
			width: 80%;
			text-align: center;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
	@include laptop-xl() {
		&__bio-resume-contact-container {
			margin-left: 0vw;
		}
	}
}
.nopacity {
	opacity: 0;
	transition: all 1s;
}
.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	height: 0px;
	overflow: hidden;
	color: black;
	transition: all 1s;
}
.visible {
	transition: all 1s;
	opacity: 1;
}

.test-button {
	position: relative;
	z-index: 15;
	top: 10%;
	border: 1px solid white;
}
