@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.exKathedra {
	&__bio-description {
		font-size: 1.3rem;
	}
	&__album-container {
		color: white;
		margin-bottom: 2vh;
	}
	&__album-header {
		font-size: 1.8rem;
	}
	&__album-artwork {
		height: 35vh;
	}
	&__album-art-description-container {
		display: flex;
		font-size: 1.1rem;
	}
	&__album-description {
		width: 50%;
		list-style: square;
	}
	&__section-header {
		margin: 2vh 0;
		font-size: 2.5rem;
		color: white;
	}
	&__link-icon {
		height: 3vh;
		margin-right: 1vw;
	}
	&__links {
		margin-top: 3vh;
		list-style: none;
	}
	&__video-container {
		width: 90%;
	}
	&__video-two-container {
		display: flex;
		justify-content: space-between;
	}
	&__video {
		width: 20vw;
		height: 30vh;
	}
}
