@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.webSection {
	color: silver;
	position: absolute;
	top: 35%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	font-family: 'Montserrat';
	transition: all 3s;

	&__projects-header {
		color: white;
		margin-bottom: 4vh;
	}

	&__not-your-thoughts-header {
		font-size: 2.3rem;
		font-family: 'Syncopate';
		text-decoration: none;
		text-align: center;
		color: silver;
		margin-bottom: 2vh;
		&:hover {
			color: white;
		}
	}
	&__not-your-thoughts-description {
		text-align: center;
		font-size: 1.3rem;
		width: 70%;
	}
	&__not-your-thoughts-image {
		width: 40vw;
		padding: 0.5vw;
		border: 1px solid white;
		border-radius: 10px;
	}
	&__button-img {
		margin-bottom: 2vh;
		height: 7vh;
	}

	@include mobile-small-only() {
		top: 30%;

		&__not-your-thoughts-image {
			display: none;
		}
		&__not-your-thoughts-description {
			width: 120%;
		}
	}
	@include tablet-only() {
		top: 24vh;

		&__not-your-thoughts-image {
			width: 60vw;
		}
		&__not-your-thoughts-description {
			width: 120%;
		}
	}
	@include laptop-small() {
		&__not-your-thoughts-image {
			width: 60vw;
		}
		&__not-your-thoughts-description {
			width: 120%;
		}
	}
}
.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	overflow: hidden;
	color: black;
	transition: all 3s;
	position: relative;
	margin-top: 20%;
}
.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	overflow: hidden;
	color: black;
	transition: all 1s;
}
