@import './variables.scss';

@font-face {
	font-family: 'October Guard';
	src: url('../assets/fonts/octoberguard.ttf') format('truetype');
}

//Screen Sizes
@mixin mobile-small-only() {
	@media #{$mobile-small-only} {
		@content;
	}
}
@mixin mobile-only() {
	@media #{$mobile-only} {
		@content;
	}
}
@mixin tablet-only() {
	@media #{$tablet-only} {
		@content;
	}
}
//Laptop Small is 993 - 1199
@mixin laptop-small() {
	@media #{$laptop-small} {
		@content;
	}
}
@mixin laptop-large() {
	@media #{$laptop-large} {
		@content;
	}
}
@mixin laptop-xl() {
	@media #{$laptop-xl} {
		@content;
	}
}
@mixin hover-underline-right() {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -8px;
		left: 50%;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			90deg,
			rgba(2, 0, 36, 0.6993172268907564) 1%,
			rgba(243, 229, 230, 1) 7%,
			rgba(237, 223, 225, 1) 85%,
			rgba(22, 7, 37, 1) 100%
		);
		opacity: 0;
		transform: scaleX(0);
		transition: all 0.7s ease-in-out 0s;
	}
	&:hover:before {
		opacity: 0.9;
		left: 0;
		transform: scaleX(1);
	}
}

@mixin hover-underline-left() {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -8px;
		left: -60%;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			90deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(22, 7, 37, 1) 1%,
			rgba(243, 229, 230, 1) 18%,
			rgba(255, 241, 241, 1) 95%,
			rgba(122, 122, 122, 0.36878501400560226) 100%
		);
		opacity: 0;
		transform: scaleX(0);
		transition: all 0.7s ease-in-out 0s;
	}
	&:hover:before {
		opacity: 0.9;
		left: 0;
		transform: scaleX(1);
	}
}
@mixin hover-underline-left-music-section() {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 120%;
		height: 2px;
		bottom: -6px;
		left: -60%;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			90deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(22, 7, 37, 1) 1%,
			rgba(243, 229, 230, 0.8) 18%,
			rgba(255, 241, 241, 0.8) 95%,
			rgba(122, 122, 122, 0.36878501400560226) 100%
		);
		opacity: 0;
		transform: scaleX(0);
		transition: all 0.7s ease-in-out 0s;
	}
	&:hover:before {
		opacity: 0.9;
		left: 0;
		transform: scaleX(1);
	}
}

.bandcamp {
	&:hover {
		content: url('../assets/Icons/silver/bandcamp-light-silver.png');
	}
}
.soundcloud {
	&:hover {
		content: url('../assets/Icons/silver/soundcloud-light-silver.png');
	}
}
.spotify {
	&:hover {
		content: url('../assets/Icons/silver/spotify-light-silver.png');
	}
}

.linkedin {
	&:hover {
		content: url('../assets/Icons/silver/linkedin-light-silver.png');
	}
}
.github {
	&:hover {
		content: url('../assets/Icons/silver/GitHub-light-silver.png');
	}
}
.instagram {
	&:hover {
		content: url('../assets/Icons/silver/instagram-light-silver.png');
	}
}

.invisible {
	opacity: 0;
	display: none;
	width: 0.01vw;
	overflow: hidden;
	color: black;
	transition: all 2s;
	animation: dnonefadeout 3s 1;
	@keyframes dnonefadeout {
		0% {
			display: flex;
			opacity: 1;
		}

		99% {
			opacity: 0;
			display: flex;
		}

		100% {
			opacity: 0;
		}
	}
}
.visible {
	transition: all 2s;
	display: flex;
	z-index: 10;
	animation: dnonefadein 3s 1;
	@keyframes dnonefadein {
		0% {
			display: none;
			opacity: 0;
		}

		1% {
			display: flex;
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	opacity: 1;
}
@keyframes section-left {
	0% {
		opacity: 0;
		width: 0%;
		left: 30%;
		width: 2%;
	}
	100% {
		opacity: 0.6;
		width: 105%;
		left: 26%;
	}
}
@keyframes section-right {
	0% {
		opacity: 0;
		width: 0%;
		right: 30%;
		width: 2%;
	}
	100% {
		opacity: 0.6;
		width: 87%;
		right: 26%;
	}
}
.default-cursor {
	&:hover {
		&:hover {
			cursor: default;
		}
	}
}
