@import './variables.scss';

@font-face {
	font-family: 'October Guard';
	src: url('../assets/fonts/octoberguard.ttf') format('truetype');
}

//Screen Sizes
@mixin mobile-small-only() {
	@media #{$mobile-small-only} {
		@content;
	}
}
@mixin mobile-only() {
	@media #{$mobile-only} {
		@content;
	}
}
@mixin tablet-only() {
	@media #{$tablet-only} {
		@content;
	}
}
//Laptop Small is 993 - 1199
@mixin laptop-small() {
	@media #{$laptop-small} {
		@content;
	}
}
@mixin laptop-large() {
	@media #{$laptop-large} {
		@content;
	}
}
@mixin laptop-xl() {
	@media #{$laptop-xl} {
		@content;
	}
}
@mixin hover-underline-right() {
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -8px;
		left: 50%;
		background-color: rgba(255, 255, 255, 0.89);
		opacity: 0;
		transform: scaleX(0);
		transition: all 0.7s ease-in-out 0s;
	}
	&:hover:before {
		opacity: 0.9;
		left: 0;
		transform: scaleX(1);
	}
}

@mixin hover-underline-left() {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: -8px;
		left: -60%;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			90deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(22, 7, 37, 1) 1%,
			rgba(243, 229, 230, 1) 25%,
			rgba(255, 241, 241, 1) 95%,
			rgba(122, 122, 122, 0.36878501400560226) 100%
		);
		opacity: 0;
		transform: scaleX(0);
		transition: all 0.7s ease-in-out 0s;
	}
	&:hover:before {
		opacity: 0.9;
		left: 0;
		transform: scaleX(1);
	}
}

.bandcamp {
	&:hover {
		content: url('../assets/Icons/silver/bandcamp-light-silver.png');
	}
}
.soundcloud {
	&:hover {
		content: url('../assets/Icons/silver/soundcloud-light-silver.png');
	}
}
.spotify {
	&:hover {
		content: url('../assets/Icons/silver/spotify-light-silver.png');
	}
}

.linkedin {
	&:hover {
		content: url('../assets/Icons/silver/linkedin-light-silver.png');
	}
}
.github {
	&:hover {
		content: url('../assets/Icons/silver/GitHub-light-silver.png');
	}
}
.instagram {
	&:hover {
		content: url('../assets/Icons/silver/instagram-light-silver.png');
	}
}
