@import './variables.scss';

//Font Typography
@font-face {
	font-family: 'Maven Pro';
	src: url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap');
}
@font-face {
	font-family: 'October Guard';
	src: url('../assets/fonts/octoberguard.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton|Marmelad|Rambla|Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2|Bellota|Bellota+Text|Montserrat|Nunito|Righteous|Sen|Titillium+Web&display=swap');

//Screen Sizes
@mixin mobile-small-only() {
	@media #{$mobile-small-only} {
		@content;
	}
}
@mixin mobile-only() {
	@media #{$mobile-only} {
		@content;
	}
}
@mixin tablet-only() {
	@media #{$tablet-only} {
		@content;
	}
}
//Laptop Small is 993 - 1199
@mixin laptop-small() {
	@media #{$laptop-small} {
		@content;
	}
}
@mixin laptop-large() {
	@media #{$laptop-large} {
		@content;
	}
}

@mixin button-styles() {
	padding: 8% 10%;
	outline: none;
	text-decoration: none;
	width: 100%;
	color: black;
	font-size: 1.3rem;
	font-family: 'Syncopate', sans-serif;
	border-radius: 9%;
	&:hover {
		transition: all 0.4s;
		color: white;
		text-shadow: 3px 3px 3px silver;
		border-radius: 19%;
	}
}
//when doing these pseudo-classes you need a
// container around any element you wish to go before or after,
//which make way more sense now
@mixin hover-underline-right() {
	&:after {
		content: '';
		position: relative;
		width: 0;
		height: 2px;
		display: block;
		margin-top: 5px;
		opacity: 0;
		right: 0;
		background: #fff;
		transition: all 0.7s ease;
		-webkit-transition: all 0.7s ease;
	}

	&:hover:after {
		width: 100%;
		right: 0;
		opacity: 1;
		background: #fff;
	}
}
@mixin hover-underline-right-absolute() {
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 2px;
		display: block;
		margin-top: 5px;
		opacity: 0;
		right: 0;
		background: #fff;
		transition: all 0.7s ease;
		-webkit-transition: all 0.7s ease;
	}

	&:hover:after {
		width: 100%;
		right: 0;
		opacity: 1;
		background: #fff;
	}
}

@mixin hover-underline-left() {
	&:after {
		content: '';
		position: relative;
		width: 0;
		height: 2px;
		display: block;
		margin-top: 5px;
		left: 0;
		opacity: 0;
		background: #fff;
		transition: all 0.7s ease;
		-webkit-transition: all 0.7s ease;
	}

	&:hover:after {
		width: 100%;
		left: 0;
		opacity: 1;
		background: #fff;
	}
}

.bandcamp {
	&:hover {
		content: url('../assets/Icons/silver/bandcamp-light-silver.png');
	}
}
.soundcloud {
	&:hover {
		content: url('../assets/Icons/silver/soundcloud-light-silver.png');
	}
}
.spotify {
	&:hover {
		content: url('../assets/Icons/silver/spotify-light-silver.png');
	}
}

.linkedin {
	&:hover {
		content: url('../assets/Icons/silver/linkedin-light-silver.png');
	}
}
.github {
	&:hover {
		content: url('../assets/Icons/silver/GitHub-light-silver.png');
	}
}
.instagram {
	&:hover {
		content: url('../assets/Icons/silver/instagram-light-silver.png');
	}
}
