@import './fonts-mixins.scss';
@import './variables.scss';

.ex-kathedra-header {
	font-family: 'Righteous';
	color: white;
}
.solo-header {
	font-family: 'Avenir';
	color: white;
}
.autocatalytica-header {
	font-family: 'October Guard';
	color: white;
}
.records {
	&__header-back-container {
		display: flex;
		width: 80%;
		justify-content: space-between;
		align-items: center;
		margin-top: -13vh;
	}
	&__bio-description {
		font-size: 1.3rem;
	}
	&__album-container {
		color: white;
		margin-bottom: 2vh;
	}
	&__album-header {
		font-size: 1.8rem;
	}
	&__album-artwork {
		height: 35vh;
	}
	&__album-art-description-container {
		display: flex;
		font-size: 1.1rem;
	}
	&__album-description {
		width: 50%;
		list-style: square;
	}
	&__section-header {
		margin: 2vh 0;
		font-size: 2.5rem;
		color: white;
	}
	&__link-icon {
		height: 3vh;
		margin-right: 1vw;
	}
	&__links {
		margin-top: 3vh;
		list-style: none;
	}
	&__video-container {
		width: 90%;
	}
	&__video-two-container {
		display: flex;
		justify-content: space-between;
	}
	&__video {
		width: 20vw;
		height: 30vh;
	}
	&__header-open {
		font-family: 'Righteous';
		color: white;
	}
	&__back-button {
		font-size: 1.4rem;
		&:hover {
			color: white;
		}
	}
	@include mobile-small-only() {
		&__album-art-description-container {
			display: flex;
			flex-direction: column;
			margin-bottom: 3vh;
		}
		&__album-description {
			width: 80%;
		}
		&__section-header {
			margin-top: 4vh;
			font-size: 2.1rem;
		}
		&__album-artwork {
			height: 40vh;
			width: 65vw;
		}
		&__link-icon {
			height: 5vh;
			margin-right: 3vw;
		}
		&__bio-header {
			margin-top: 3vh;
		}
		&__header-open {
			font-family: 'Righteous';
			font-size: 3.1rem;
			color: white;
			margin-top: 10vh;
		}
		&__back-button {
			font-size: 1.2rem;
			&:hover {
				color: white;
			}
		}
		&__video {
			width: 90%;
		}
	}
	@include mobile-only() {
		&__header-open {
			margin-top: 20%;
		}
		&__album-artwork {
			height: 30vh;
			width: 45vw;
		}
		&__back-button {
			margin-top: 20%;
		}
	}
	@include tablet-only() {
		&__back-button {
			margin-top: -5vh;
		}
	}
}
