@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.autocatalytica {
	&__bio-description {
		font-size: 1.3rem;
		margin-bottom: 1px;
	}
	&__album-container {
		color: white;
		margin-bottom: 2vh;
	}
	&__album-header {
		font-size: 1.8rem;
	}
	&__album-artwork {
		height: 35vh;
	}
	&__album-art-description-container {
		display: flex;
		font-size: 1.1rem;
	}
	&__album-description {
		width: 50%;
		list-style: square;
	}

	&__section-header {
		margin: 2vh 0;
		font-size: 2.5rem;
		color: white;
	}
	&__records-header {
		margin-top: 4vh;
	}
	&__link-icon {
		height: 3vh;
		margin-right: 1vw;
	}
	&__links {
		margin-top: 3vh;
		list-style: none;
		height: 4vh;
	}
	&__video-container {
		// display: flex;
		// border: 2px solid silver;
		width: 90%;
	}
	&__video-two-container {
		display: flex;
		justify-content: space-between;
	}
	&__video {
		width: 20vw;
		height: 30vh;
	}
	&__bandcamp {
		&:hover {
			content: url('../../assets/Icons/silver/bandcamp-light-silver.png');
		}
	}
	&__soundcloud {
		&:hover {
			content: url('../../assets/Icons/silver/soundcloud-light-silver.png');
		}
	}
	&__spotify {
		&:hover {
			content: url('../../assets/Icons/silver/spotify-light-silver.png');
		}
	}
}
