@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.musicSection {
	color: silver;
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-family: 'Maven Pro';
	transition: all 2s;

	&__sections-header-container {
		display: flex;
		width: 60%;
		height: 30%;
		color: whitesmoke;
		justify-content: space-between;
		margin-top: 1vh;
		font-family: 'Poppins';
	}
	&__sections-header {
		font-size: 3.3rem;
		height: 100%;
		margin: 0;
		justify-content: space-between;
		&:hover {
			color: grey;
		}
	}
	&__back-home-container {
		display: flex;
		align-items: center;
		font-family: 'Lekton';
		justify-content: space-between;
		// border: 1px solid red;
		width: 10%;
		height: 8%;
	}
	&__back-button {
		margin: 1% 0;
	}
	&__small-divider {
		font-size: 1.6rem;
	}
	&__divider {
		font-size: 3rem;
		margin: 1vh 0 0 0;
	}
}
.center {
	display: flex;
	justify-content: center;
	align-self: center;
}
