@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.musicSection {
	color: silver;
	position: absolute;
	top: 32%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-family: 'Maven Pro';
	transition: all 2s;

	&__headers-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 80%;
		color: whitesmoke;
		margin-top: 1vh;
		font-family: 'Poppins';
		transition: all 0.5s;
	}
	&__sections-header {
		font-size: 3.3rem;
		margin: 0;
	}
	&__performance-header {
		@include hover-underline-left;
		margin-bottom: 6vh;
	}
	&__engineering-header {
		@include hover-underline-right;
		margin-bottom: 2vh;
	}
	&__back-home-container {
		display: flex;
		align-items: center;
		font-family: 'Lekton';
		justify-content: space-between;
		width: 10%;
		height: 8%;
		transition: all 0.5s;
	}
	&__back-button {
		margin: 1% 0;
		&:hover {
			color: white;
		}
	}
	&__back-button-mobile {
		display: none;
	}
	&__home-button {
		margin: 1% 0;
		font-size: 1.4rem;
		text-decoration: none;
		color: silver;
		font-size: 1.2rem;
		font-weight: 600;
		&:hover {
			color: white;
		}
	}
	&__small-divider {
		font-family: 'Lekton';
		color: white;
	}
	&__divider {
		font-size: 3rem;
		margin: 1vh 2vw;
	}
	&__sections-header-mobile {
		display: none;
	}

	@include mobile-small-only() {
		top: 30vh;

		&__sections-header {
			display: none;
		}
		&__divider {
			font-size: 1.7rem;
		}
		&__sections-header-mobile {
			display: flex;
			font-size: 1.5rem;
			margin-top: 3vh;
		}
		&__divider-mobile {
			display: flex;
		}
		&__back-home-container {
			width: 40%;
			margin-top: 3vh;
			justify-content: space-evenly;
		}
		&__headers-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 90%;
			color: whitesmoke;
			margin-top: 4vh;
			margin-left: -5vw;
			padding: 0;
			font-family: 'Poppins';
		}
		&__engineering-header-mobile {
			margin: 0;
		}
		&__back-button-mobile {
			margin: 1% 0;
			display: flex;
			position: relative;
			z-index: 12;
		}
		&__back-button {
			display: none;
			width: 0%;
		}
	}
	@include mobile-only() {
		&__back-button {
			display: none;
		}
		&__back-button-mobile {
			margin: 1% 0;
		}
		&__headers-container {
			width: 79%;
			margin-top: -2vh;
			font-size: 1.5rem;
		}
		&__back-home-container {
			width: 25%;
		}
	}
	@include tablet-only() {
		top: 25%;

		&__sections-header {
			font-size: 2.3rem;
		}
		&__divider {
			font-size: 2rem;
			margin: 1vh 2vw;
		}
		&__back-home-container {
			width: 20%;
		}
	}
}
.center {
	display: flex;
	justify-content: center;
	align-self: center;
}
