@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.musicSection {
	color: silver;
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	font-family: 'Maven Pro';
	transition: all 2s;

	&__headers-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 80%;
		color: whitesmoke;
		margin-top: 1vh;
		font-family: 'Poppins';
	}
	&__sections-header {
		font-size: 3.3rem;
		margin: 0;
	}
	&__performance-header {
		@include hover-underline-left;
		margin-bottom: 2vh;
	}
	&__engineering-header {
		@include hover-underline-right;
		margin-bottom: 2vh;
	}
	&__back-home-container {
		display: flex;
		align-items: center;
		font-family: 'Lekton';
		justify-content: space-between;
		width: 10%;
		height: 8%;
	}
	&__back-button {
		margin: 1% 0;
	}
	&__home-button {
		margin: 1% 0;
		font-size: 1.4rem;
		text-decoration: none;
		color: silver;
		font-size: 1.2rem;
		font-weight: 600;
	}
	&__small-divider {
		font-family: 'Lekton';
		color: white;
	}
	&__divider {
		font-size: 3rem;
		margin: 1vh 2vw;
	}
}
.center {
	display: flex;
	justify-content: center;
	align-self: center;
}
