@import '../../misc-styles/fonts-mixins.scss';
@import '../../misc-styles/variables.scss';

.contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 4;
	color: silver;
	font-family: 'Lekton';

	&__header {
		display: flex;
		justify-content: center;
		align-self: center;
		font-size: 2.2rem;
		color: silver;
		transition: all 0.3s;
		margin-bottom: 1vh;
		margin-top: 3vh;
		position: relative;
		z-index: 4;
		&:hover {
			color: white;
			transition: all 0.3s;
			cursor: pointer;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: silver;
		position: relative;
		z-index: 5;
		overflow: hidden;
	}

	&__form-identifier {
		margin: 1vh 0;
		align-self: flex-start;
		color: silver;
		margin-top: 3vh;
		margin-left: 1%;
	}
	&__form-name-email-input-modalize-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__form-name-email-input-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__modalize {
		font-family: 'Lekton';
		width: 20%;
		height: 20%;
		opacity: 0;
		position: relative;
		z-index: 5;
		padding: 5vh 2%;
		display: flex;
		justify-content: center;
		background-color: black;
		border: 1px solid silver;
		border-radius: 5px;
		right: 0%;
		top: -30vh;
		transition: all 0.5s;
		margin-left: 2%;
	}
	&__input {
		border-radius: 5%;
		background-color: black;
		color: silver;
		border: 2px solid silver;
		padding: 4px;
		outline: none;
		width: 10vw;
		font-size: 1rem;
		height: 4vh;
	}
	&__email {
		width: 14vw;
	}
	&__name {
		margin-right: 1vw;
	}
	&__message {
		height: 15vh;
		width: 25vw;
		border-radius: 3%;
		resize: none;
		padding: 0.3vw;
		font-size: 1.3rem;
		text-align: start;
	}
	&__message-identifier {
		margin-left: 1vw;
	}

	&__form-submit-button {
		width: 8vw;
		font-family: 'Lekton', cursive;
		margin-top: 2vh;
		padding: 0.3%;
		font-size: 0.9rem;
		outline: none;
		border: 2px solid silver;
		background-color: black;
		color: white;
		border-radius: 8%;
		&:hover {
			transition: all 0.4s;
			background-color: white;
			color: black;
			text-shadow: 3px 3px 3px silver;
		}
	}

	@include mobile-small-only() {
		display: flex;
		justify-content: center;
		width: 95%;
		&__header {
			font-size: 1.6rem;
			width: 100%;
			justify-content: center;
			margin-top: 5%;
		}
		&__form-header {
			margin-top: 5%;
		}
		&__input {
			width: 95%;
			margin-left: 1vw;
		}
		&__name {
			width: 80%;
		}
		&__email {
			width: 90%;
		}
		&__message {
			width: 95%;
			height: 21vh;
		}
		&__form-submit-button {
			width: 50%;
		}
		&__modalize {
			width: 85%;
			padding-left: 3vw;
		}
	}
	@include mobile-only() {
		display: flex;

		&__header {
			font-size: 1.7rem;
		}
		&__form-header {
			margin-top: 2%;
		}
		&__description {
			font-size: 1rem;
			width: 70%;
		}
		&__input {
			font-size: 0.6rem;
			width: 40vw;
			height: 4vh;
		}
		&__message {
			width: 95%;
			height: 21vh;
		}
		&__form-submit-button {
			width: 30vw;
			padding: 2%;
		}
	}
	@include tablet-only() {
		&__header {
			font-size: 1.7rem;
		}
		&__description {
			font-size: 1rem;
		}
		&__input {
			font-size: 0.7rem;
			width: 19vw;
		}
		&__message {
			width: 97%;
		}
		&__form-submit-button {
			width: 10vw;
		}
	}
	@include laptop-small() {
		&__header {
			font-size: 2rem;
		}
		&__description {
			font-size: 1rem;
		}
		&__input {
			font-size: 0.7rem;
			width: 19vw;
		}
		&__message {
			width: 97%;
		}
		&__form-submit-button {
			width: 10vw;
		}
	}
}

.open {
	opacity: 1;
	transition: all 1s;
}
.closed {
	opacity: 0;
	height: 0px;
	margin-top: 10vh;
	transition: all 1s;
}
.-light {
	color: black;
	background-color: white;
}
